

<div class="heroPage">
    <div class="heroInfo">
        {%- for block in section.blocks -%}
            {%- case block.type -%}

            {%- when 'text'}
                <h2>{{ block.settings.heroTextid }}</h2>

            {%- endcase -%}
        {%- endfor -%}
    </div>
    <div class="heroImg">
    </div>
        
</div>

{% schema %}
{
    "name": "Hero Page",
    "tag": "section",
    "class": "section",
   "settings": [
   {
       "type"{
           "type": "image_picker",
           "id": "HeroImg",
           "label": "Hero Image"
       }
   }
   ],
   "blocks": [
        {
           
                "type": "text",
                "name": "Hero Text",
                "settings": [
                    {
                        "type": "text",
                        "id": "heroTextid",
                        "label": "Hero Text"
                    }
                ]
            
        }

   ],
   "presets": [
        {
            "name": "Hero Page"
        }
   ]

   
}
{% endschema %}}