.icons-box {
    width:100%;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}

.hero-icon-box {
    width: 24%;
    text-align:center;
}

.hero-icon-box p {
    width:90%;
    font-size:1rem;
}

