.icons-box {
    width:100%;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.hero-icon-box {
    width: 24%;
    text-align:center;
}

.hero-icon-box p {
    width:90%;
    font-size:1rem;
}

@media screen and (max-width:750px) {
    .icons-box {
        flex-wrap:wrap;

    }
    .hero-icon-box {
        width: 45%;
        margin-bottom: 10px;
    }
}

